<li class="chat__message">
    <div class="photo" style="background-image: {{ photo }}">{{ photoText }}</div>
    <div class="chat__message-block">
        <div class="chat__message-header">{{ name }} <span>{{ time }}</span></div>
        <div class="chat__message-text">{{ message }}</div>
    </div>
</li>